@font-face {
    font-family: Audiowide;
    src: url(../Fonts/Audiowide-Regular.ttf);
}


.background_img {
    background: url(../images/victor-hughes-5YZBwht4jnA-unsplash-1.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;  
}

.navbar {
    background-color: #eeeeee !important;
    opacity: 0.8;
    border-radius: 0 0 7px 7px;
    justify-content: center;
    width: 90%;
    height: 100px;
    box-shadow: 0em 0.20em 0.3em grey;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    /* border: 2px solid orange; */
}

.navbar-nav li {
    padding-right: 60px;
}

.nav1 {
    background-color: #eeeeee;
    opacity: 0.8;
    border-radius: 0 0 7px 0;
    width: 78px;
    height: 100px;
    box-shadow: 0em 0.20em 0.3em grey;
}

.nav3 {
    background-color: #eeeeee;
    opacity: 0.8;
    border-radius: 0 0 0 7px;
    width: 78px;
    height: 100px;
    box-shadow: 0em 0.20em 0.3em grey;  
}

.screen_container {
    height: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.navbar-btn {
    position: relative;
    display: flex;
    right: 7%;
    padding-bottom: 19px;
}

#nav_button {
    background-color: #ffb800;
    color: #000000;
    border: none;
    padding: 15px 20px;
    font-size: 35;
    font-weight: 300;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0em 0.10em 0.1em grey;
}

#head_text {
    display:inline;
    padding-right:10px;
    font-family: Audiowide;
    text-align: left;
    font-size: 35px;
    color: #eeeeee;
    text-shadow: black 0px 0px 2px;
}

#head_text::after {
    background-color: #eeeeee;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    padding-right: 10px;
    width: 70%;
}

.head_text_group {
    padding-left: 150px;
}

.screen_group1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 170px;
}

.container {
    width: 100%;
    margin-bottom: 10%;
}

.row {
    margin-top: 30px;
    row-gap: 100px;
}

.item_image {
    width: 100%;
    border-radius: 20px;
}

.item_text {
    font-family: Audiowide;
    color: #eeeeee;
    text-shadow: black 0px 0px 2px;
}


.item_button {
    background-color: #ffb800;
    color: white;
    padding: 15px 25px;
    border: 1px solid black;
    font-size: 30px;
    border-radius: 20px;
}

.footer {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

#footer {
    background-color: #000000;
    opacity: 0.8;
    height: 100px;
    border-radius: 7px 7px 0 0;
    width: 90%;
    display: flex;
}

.footer_logos {
    display: flex;
    margin-left: auto;
    padding-right: 40px;
}

#instalogo,
#twitlogo,
#youtubelogo  {
    align-self: center;
}

#youtubelogo {
    padding-left: 10px;
}

#footer1 {
    background-color: #000000;
    opacity: 0.7;
    height: 100px;
    border-radius: 0 7px 0 0;
    display: flex;
    flex: initial;
    width: 78px;
}

#footer3 {
    background-color: #000000;
    opacity: 0.8;
    height: 100px;
    border-radius: 7px 0 0 0;
    display: flex;
    flex: initial;
    width: 78px;
}

@media all and (max-width: 1650px) {
    #footer1,
    #footer3 {
        width: 60px;
    }
    
    .nav1,
    .nav3 {
        width: 60px;
    }
}

@media all and (max-width: 1350px) {
    #footer1,
    #footer3 {
        width: 48px;
    }
    
    .nav1,
    .nav3 {
        width: 48px;
    }
}

@media all and (max-width: 1170px) {
    #head_text::after {
        width: 50%;
    }

    #footer1,
    #footer3 {
       display: none;
    }
    
    .nav1,
    .nav3 {
        display: none;
    }

    #footer {
        width: 98%;
    }

    .footer {
        justify-content: center;
    }

    .navbar_container {
        justify-content: center;
    }

    .navbar {
        width: 98%;
    }
}

@media all and (max-width: 660px) {
    .head_text_group {
        padding-left: 1px;
        text-align: center;
    }
    .group_child2 {
        padding-top: 20px;
    }
}

@media all and (max-width: 540px) {
    #nav_logo {
        height: auto;
        width: 150px;
    }
    
    #nav_button {
        font-size: 20;
    }
}

@media all and (max-width: 390px) {
    #nav_logo {
        height: auto;
        width: 100px;
    }
    
    #nav_button {
        font-size: 15;
    }
}

@media all and (max-width: 390px) {
    #head_text {
        font-size: 30px;
    }
}